.navbar {
    background-color: var(--main-color);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}


@media only screen and (max-width: 427px) {
    .navbar {
        width: 110vw;
        flex-direction: column;
    }
}