<h2 mat-dialog-title>Chart settings</h2>
<mat-dialog-content [formGroup]="form" >
  <p>Chart title</p>
  <mat-form-field>
    <mat-label>Chart name</mat-label>
    <input matInput formControlName="chartTitle">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Chart type</mat-label>
    <mat-select formControlName="chartType">
        <mat-option value="line">Line</mat-option>
        <mat-option value="bar">Bar</mat-option>
        <mat-option value="spline">Spline</mat-option>
        <mat-option value="area">Area</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Chart color</mat-label>
    <mat-select formControlName="chartColor">
        <mat-option value="green">Green</mat-option>
        <mat-option value="red">Red</mat-option>
        <mat-option value="blue">Blue</mat-option>
    </mat-select>
  </mat-form-field>
  
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="warn" (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" [mat-dialog-close]="data" (click)="saveChart()" cdkFocusInitial>Save</button>
</mat-dialog-actions>
